.navbar-img {
  height: 2rem;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.item-row {
  padding: 2rem 0 !important;
}

.expense-action {
  height: 2rem;
}

.add-expense-form input:focus,
.add-expense-form .form-select:focus,
.edit-expense-form .form-select:focus,
.edit-expense-form input:focus {
  outline: none;
  box-shadow: none;
}

.past-30-day-table .added-on,
.categorical-table .added-on {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
}

.past-30-day-table .added-on-amount,
.categorical-table .added-on-amount {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  color: forestgreen;
}

.past-30-days .heading,
.categorical-sum .heading {
  font-weight: bold;
  font-size: 1.25rem;
  color: purple;
}

.chart-row .category-expense-sum #expense-category {
  max-height: 25rem;
}

.past-30-days-categorical-sum .past-30-days,
.past-30-days-categorical-sum .categorical-sum {
  max-height: 30rem;
  overflow: auto;
  background-color: floralwhite;
}