{% extends "expense/base.html" %}

{% block title %}User Login{% endblock title %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-uppercase mb-3 text-center text-primary opacity-50">Thanks for using our site</h1>
    <form action="" method="post" class="w-50 mx-auto shadow-lg px-5 pt-4 pb-2 add-expense-form">
        {% if error_message %}
        <div class="alert alert-danger">
            <span class="fw-semibold">{{ error_message }}</span>
        </div>
        {% endif %}
        {% csrf_token %}
        <!-- username -->
        <div class="mb-3">
            <label for="id_username" class="form-label fw-bold">Username</label>
            {{ form.username }}
        </div>
        <!-- password -->
        <div class="mb-3">
            <label for="id_password" class="form-label fw-bold">Password</label>
            {{ form.password }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success w-75">Login</button>
        </div>
        <div class="new-account mt-3">
            <span>
                Create new account?
                <a href="{% url 'user-register' %}" class="link-primary">Click here to register</a>
            </span>
        </div>
    </form>
</div>
{% endblock body %}